@model Upper.Models.Livro

@{
    ViewData["Title"] = "Create";
}

<h1>Adicionar Novo Livro</h1>

@* <h4>Livro</h4> *@
<hr />
<div class="row">
    <div class="col-md-4">
        <form enctype="multipart/form-data" method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Editora" class="control-label"></label>
                <input asp-for="Editora" class="form-control" />
                <span asp-validation-for="Editora" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImagemLivro" class="control-label"></label>
                <input type="file" name="ImagemLivro" id="ImagemLivro" asp-for="ImagemLivro" class="form-control" />
                <span asp-validation-for="ImagemLivro" class="text-danger"></span>
            </div>
            
            <div class="form-group, espaco">
                <input type="submit" value="Adicionar" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-secondary">Voltar</a>
            </div>
        </form>

    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
